.am-topbar {
    height: 60px;
    min-height: 60px;

    border-bottom-color: #eff4f8;
    background-color: #fff;
}

.aside {
    position: fixed;
    top: 60px;
    bottom: 0;
    left: 0;

    width: 188px;
    background-color: #eff4f8;
    font-size: 1.5rem;
}

.aside a {
    color: #333;
}

.am-breadcrumb-bar {
    font-size: 1.4rem;

    position: fixed;
    top: 60px;
    right: 0;
    left: 188px;

    height: 40px;
    padding: 0 1rem 0 0;

    background-color: #eff4f8;
}

.am-breadcrumb-bar > ul > li > a {
    line-height: 30px;

    height: 39px;

    color: #333;
    border-bottom: 2px solid transparent;
}

.am-breadcrumb-bar > ul > li.am-active > a:hover,
.am-breadcrumb-bar > ul > li.am-active > a:focus,
.am-breadcrumb-bar > ul > li.am-active > a {
    height: 40px;
    color: #fff;
    background-color: #009ed2;
}

.am-change-style {
    margin-top: .7rem;

    cursor: pointer;
}

.am-change-style:hover {
    transition-duration: 500ms;

    color: #dd514c;
}

.am-dropdown-content {
    min-width: 100px;
}
.main {
    position: fixed;
    top: 106px;
    right: 0;
    bottom: 0;
    left: 188px;

    overflow-y: auto;

    padding: 1.5rem;
}

.am-border-bottom {
    border-bottom: 1px solid #ddd;
}

.am-posts-toolbar {
    position: relative;

    margin-bottom: -1px;
}

.am-posts-toolbar > li > a {
    font-size: 1.5rem;

    color: #333;
    border: 1px solid #ddd;
    border-bottom: none;
    border-radius: 4px 4px 0 0;
}

.am-posts-toolbar > li.am-active > a {
    color: #333;
    background-color: #f5f5f5;
}

.am-posts-toolbar > li > a:hover,
.am-posts-toolbar > li.am-active > a:hover,
.am-posts-toolbar > li.am-active > a:focus {
    transition-duration: 500ms;

    color: #000;
    background-color: #f5f5f5;
}

.am-posts-content {
    border-radius: 0 3px 3px 3px;
    background-color: #f5f5f5;
}

.am-posts-btnbar {
    padding: .5rem 1rem;

    background-color: #eee;
}

.am-badge {
    font-weight: 400;
}

.am-index-counts-btn {
    margin-right: -.75rem;
    margin-left: -.75rem;
}

.am-index-counts-btn > li {
    padding-right: .75rem;
    padding-left: .75rem;
}

.am-index-counts-btn > li > a {
    padding-top: 1rem;
    padding-bottom: 1rem;

    border-radius: 2px;
}

.am-qmenu-group > .am-btn {
    margin-bottom: .5rem;
}

.am-legend {
    font-size: 1.8rem;

    margin-bottom: 1.5rem;
    padding-bottom: .5rem;

    border-bottom: 1px solid #ddd;
}

.am-level-tree-2 {
    padding-left: 30px !important;
}

.am-level-tree-3 {
    padding-left: 50px !important;
}

.am-level-tree-2:before,
.am-level-tree-3:before {
    padding-right: 10px;

    content: '├─';

    color: #ccc;
}
.am-form .am-form-label {
    font-size: 1.4rem;
    font-weight: 400;

    padding-top: .3rem;
    padding-right: 0;
}

.am-wx-sent-btn {
    margin-right: 1rem;
    padding: .45rem 1.25rem;
    /*border-radius: 1px;*/

    cursor: pointer;

    border: 1px solid #ddd;
}

.am-wx-sent-btn:hover,
.am-wx-sent-btn:focus {
    transition-duration: 500ms;

    border-color: #009ed2;
}

.am-widget-send {
    height: 200px;
    padding-top: 60px;

    cursor: pointer;

    border: 2px dotted #ddd;
}

.am-widget-send:hover {
    transition-duration: 500ms;

    color: #009ed2;
    border-color: #aaa;
}
.am-widget-wechat-media-panel {
    width: 1000px;
    margin: 0 -1.5rem;
    padding-bottom: 70px;
}
.am-media-preview .media-item {
    height: 80px;
    background-color: #f8f8f8;
    margin-bottom: .5rem;
    border:1px solid #ddd;
}
 .am-wechat-media-bar {
     position: fixed;
     bottom: 0;
     left: 188px;
     right:0;
     background-color: #fff;
     border-top:1px solid #eee;
     padding:1.5rem 0 1.5rem 265px;
     z-index: 99999999999;
 }
.am-widget-spec {
    position: relative;
    padding:1rem;
    background-color: #f8f8f8;
}
.am-widget-spec-dropdown {
    position: absolute;
    top:7px;
    left: 108px;
    width: 390px;
    height:40px;
    /*background-color: #fff;*/
    /*border:1px solid #ddd;*/
    /*box-shadow: 0 0 15px rgba(0,0,0,0.1);*/
    padding:5px;
}
#spec-price,
#spec-name,
#spec-item {
    width: 100px;
    display: inline;
    border-radius: 2px;
    font-size:1.2rem;
}
#spec-btn {
    /*border:none;*/
}
.am-widget-spec-container {
    padding:1rem 0;
    border-top:1px solid #eee;
    margin-top: 1rem;
}
.am-widget-spec-container .am-form-group{
    margin-bottom: .5rem;
    width: 600px;
}
.am-widget-spec-container .am-form-group input {
    font-size:1.2rem !important;
    border-radius: 2px !important;
}
.am-widget-spec-container [class*=am-u-]{
    padding-left: 0;
}
.am-tabs-bd {
    border:none;
    padding:1.5rem 0 0 0;
}
.am-tabs-bd .am-tab-panel{
    padding:0;
}
.am-article-property .am-btn.am-active,
.am-get-catid .am-btn.am-active{
    background-color: #0c80ba !important;
    color: #fff;
    border-color: #0c80ba;
}
.am-channel-list {
    position: fixed;
    top:100px;
    left: 188px;
    bottom: 0;
    width: 120px;
    font-size: 1.5rem;
    box-shadow: inset -1px 0 0 #e1e4eb;
}
.am-channel-list .am-list-header{
    border-top: none;
    text-align: center;
    padding:.75rem 0;
    color: #777;
    border-bottom-color: #e1e4eb;
}
.am-channel-list>ul>li{
    border-color: transparent;
    background-color: transparent;
}
.am-channel-list>ul>li>a {
    padding:.55rem 0 .55rem 2rem;
    background-color: transparent;
}
.am-channel-list>ul>li>a:hover,
.am-channel-list>ul>li.am-active>a{
    background-color: #eff4f8;
}
.am-posts-form {
    padding-left: 120px;
}
.am-widget-color {
    position: relative;
}
.am-widget-color:hover>ul{
    display: block;
}
.am-widget-color>ul{
    position: absolute;
    height: 50px;
    left: -1px;
    right: -1px;
    top:31px;
    display: none;
}
.am-widget-color>ul>li>span {
    display: block;
    width: 100%;
    height: 24px;
}
.am-color-default{
    background-color: #444;
}
.am-color-main{
    background-color: #2a8c70;
}
.am-color-primary{
    background-color: #009ed2;
}
.am-color-success{
    background-color: #5eb95e;
}
.am-color-warning{
    background-color: #F37B1D;
}
.am-color-danger{
    background-color: #dd514c;
}
.am-widget-color{
    background-color: #444;
    color: #fff;
}
.am-widget-color:hover {
    color: #fff !important;
}