<!doctype html>
<html class="no-js" lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{block name="title"}{/block}{$config.sitename}</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="max-age=600"/>
    <meta http-equiv="Cache-Version" content="{:vcs(1)}"/>
    <meta http-equiv="Spm" content="{:spm()}"/>
    <link rel="icon" type="image/png" href="__i__/favicon.png{:vcs()}">
    <link rel="stylesheet" href="__c__/amazeui.min.css{:vcs()}">
    <link rel="stylesheet" href="__c__/amazeui.theme.css{:vcs()}">
    <link rel="stylesheet" href="__c__/app.css{:vcs()}">
    <style type="text/css">
        .am-panel-account {
            width: 600px;
            margin: 4rem auto 0 auto;
            border:none;
        }
        .am-panel-account .am-panel-hd {
            padding:0;
            /*border-bottom: 1px solid #eee;*/
        }
        .am-panel-hd>.am-avg-sm-2>li>a {
            display: block;
            padding-top:.75rem;
            padding-bottom: .75rem;
            color: #666;
            background-color: #f8f8f8;
        }
        .am-panel-hd>.am-avg-sm-2>li.am-active>a{
            background-color: #fff;
            color: #ff6c00;
        }
        .am-form .am-form-label{
            font-size:1.6rem;
            color: #666;
            font-weight: 400;
            padding-top: 4px;
        }
        .am-panel-account .am-form input {
            font-size:1.6rem !important;
            border-radius: 2px !important;
        }
    </style>
</head>
<body>
<header class="am-header">
    <div class="am-container">
        <div class="am-g">
            <div class="am-u-sm-2">
                <div class="am-topbar-brand"><img src="__i__/logo.png" alt=""></div>
            </div>
            <div class="am-u-sm-5 am-padding-0">
                <ul class="am-nav am-nav-pills">
                    <li><a href="http://{:request()->host()}"> 首页</a></li>
                    {volist name="navigation" id="vo"}
                    <li><a href="http://{:request()->host()}/{$vo.value}">{$vo.title}</a></li>
                    {/volist}
                </ul>
            </div>
            <div class="am-u-sm-3 am-text-right am-user-status">
                <form action="/search" method="POST" role="form" class="am-form am-header-search">
                    <input type="text" id="" class="am-radius am-border-0" placeholder="关键字搜索">
                    <button type="submit" class="am-icon-search"></button>
                </form>
            </div>
            <div class="am-u-sm-2 am-text-right am-user-status">
                <a href="/api_user_user_login.html?callback={:request()->baseUrl()}" rel="nofollow">
                    <img src="__i__/user.svg" alt="" width="24" height="24"> 登录 / 注册
                </a>
            </div>
        </div>
    </div>
</header>
<div class="am-container">
    <section class="am-panel am-panel-account">
        <header class="am-panel-hd">
            <ul class="am-avg-sm-2 am-text-center">
                <li class="am-active" data-target="#login"><a href="javascript:;">用户登录</a></li>
                <li data-target="#register"><a href="javascript:;" >新用户注册</a></li>
            </ul>
        </header>
        <div class="am-panel-bd am-padding-top">
            <form action="/api_user_user_login_do.html" method="POST" role="form" id="login" class="am-form am-form-horizontal">
                <input type="hidden" name="callback" value="{:input('get.callback')}">
                <!-- form 结合 grid 使用 -->
                <div class="am-form-group">
                    <label for="username" class="am-u-sm-3 am-form-label am-padding-right-0">登录账户</label>
                    <div class="am-u-sm-8 am-u-end">
                        <input type="text" name="username" id="username" placeholder="用户名/手机号/邮箱" required/>
                    </div>
                </div>
                <div class="am-form-group">
                    <label for="password" class="am-u-sm-3 am-form-label am-padding-right-0">密码</label>
                    <div class="am-u-sm-8 am-u-end">
                        <input type="password" name="password" id="password" placeholder="账户密码" required/>
                    </div>
                </div>
                <div class="am-form-group">
                    <div class="am-u-sm-9 am-u-sm-offset-3 am-padding-right-0">
                        <button type="button" data-ajax-submit="#login" class="am-btn am-btn-success am-radius am-icon-check"> 安全登录</button>
                    </div>
                </div>
            </form>
            <form action="/api_user_user_register_do.html" method="POST" role="form" id="register" class="am-form am-form-horizontal" style="display: none">
                <input type="hidden" name="callback" value="{:input('get.callback')}">
                <!-- form 结合 grid 使用 -->
                <div class="am-form-group">
                    <label for="reg-username" class="am-u-sm-3 am-form-label am-padding-right-0">登录账户</label>
                    <div class="am-u-sm-8 am-u-end">
                        <input type="text" name="username" id="reg-username" placeholder="设置你的用户昵称" required/>
                    </div>
                </div>
                <div class="am-form-group">
                    <label for="mobile" class="am-u-sm-3 am-form-label am-padding-right-0">手机号码</label>
                    <div class="am-u-sm-8 am-u-end">
                        <input type="text" name="mobile" id="mobile" placeholder="手机号码" required/>
                    </div>
                </div>
                <div class="am-form-group">
                    <label for="reg-password" class="am-u-sm-3 am-form-label am-padding-right-0" required>密码</label>
                    <div class="am-u-sm-8 am-u-end">
                        <input type="password" name="password" id="reg-password" placeholder="账户密码"/>
                    </div>
                </div>
                <div class="am-form-group">
                    <label for="reg-repassword" class="am-u-sm-3 am-form-label am-padding-right-0">重复密码</label>
                    <div class="am-u-sm-8 am-u-end">
                        <input type="password" name="repassword" id="reg-repassword" placeholder="重复确认你的登陆密码" required/>
                    </div>
                </div>
                <div class="am-form-group">
                    <label for="reg-verify" class="am-u-sm-3 am-form-label am-padding-right-0">验证码</label>
                    <div class="am-u-sm-4">
                        <input type="text" name="verify" id="reg-verify" placeholder="不区分大小" required/>
                    </div>
                    <div class="am-u-sm-3 am-u-end am-padding-left-0">
                        <img src="{:url('plugin/helper/verify')}" id="verifyImg" onclick="refreshVerify()">
                    </div>
                </div>

                <div class="am-form-group">
                    <div class="am-u-sm-9 am-u-sm-offset-3 am-padding-right-0">
                        <button type="button" data-ajax-submit="#register" class="am-btn am-btn-success am-radius am-icon-check"> 立即注册</button>
                    </div>
                </div>
            </form>
        </div>
    </section>
</div>

<div class="alert-group">
    <div class="am-alert am-alert-success" data-am-alert="">
        <button type="button" class="am-close">&times;</button>
        <p></p>
    </div>
    <div class="am-alert am-alert-danger" data-am-alert="">
        <button type="button" class="am-close">&times;</button>
        <p></p>
    </div>
    <div class="am-alert am-alert-warning" data-am-alert="">
        <button type="button" class="am-close">&times;</button>
        <p></p>
    </div>
</div>
<script src="__j__/jquery.min.js{:vcs()}"></script>
<script src="__j__/amazeui.min.js{:vcs()}"></script>
<script>var spm='{:spm()}',vcs='{:vcs()}';</script>
<script src="__j__/common.min.js{:vcs()}"></script>
{empty name="userinfo"}
<script type="text/javascript">$('#drag').drag();</script>
{/empty}
<script src="__j__/app.min.js{:vcs()}"></script>
<script type="text/javascript">
    $(function(){
        $(document).on('click','.am-avg-sm-2>li',function(){
            var _tar = $(this).data('target');
            $(_tar).show().siblings('.am-form').hide();
            $(this).addClass('am-active').siblings('.am-panel-account .am-avg-sm-2>li').removeClass('am-active');
        })
    })
</script>
</body>
</html>