<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
			 <rule name="OrgPage" stopProcessing="true">
				 <match url="^(.*)$" />
				 <conditions logicalGrouping="MatchAll">
				 <add input="{HTTP_HOST}" pattern="^(.*)$" />
				 <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
				 <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
				 </conditions>
				 <action type="Rewrite" url="index.php/{R:1}" />
			 </rule>
             <rule name="WWW Redirect" stopProcessing="true">
             <match url=".*" />
             <conditions>
             <add input="{HTTP_HOST}" pattern="^27pe.com$" />
             </conditions>
             <action type="Redirect" url="http://www.27pe.com/{R:0}" redirectType="Permanent" />
             </rule>
			 </rules>
        </rewrite>
		 <security>
		   <requestFiltering>
			<requestLimits maxAllowedContentLength="1048576000"></requestLimits>
		   </requestFiltering>
		  </security>
    </system.webServer>
</configuration>
